{% extends "base.html" %}
{% block contenido %}

<h1>Editar estudiante</h1>

<form method="POST" class="formulario">
    <label>Apellidos  <input name="apellidos" value="{{ e.apellidos }}" required></label>
    <label>Nombres    <input name="nombres"   value="{{ e.nombres }}"   required></label>
    <label>DNI        <input name="dni"       value="{{ e.dni }}"       required></label>
    <label>Grado
        <select name="grado">
            {% for g in ["1ro","2do","3ro","4to","5to"] %}
            <option {% if g == e.grado %}selected{% endif %}>{{ g }}</option>
            {% endfor %}
        </select>
    </label>
    <label>Sección
        <select name="seccion">
            {% for s in ["A","B","C"] %}
            <option {% if s == e.seccion %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>
    </label>
    <label>Turno
        <select name="turno">
            <option {% if e.turno=="Mañana" %}selected{% endif %}>Mañana</option>
            <option {% if e.turno=="Tarde"  %}selected{% endif %}>Tarde</option>
        </select>
    </label>
    <button type="submit">Guardar cambios</button>
    <a href="/estudiantes" class="btn" style="background:#888">Cancelar</a>
</form>

{% endblock %}