{% extends "base.html" %}
{% block contenido %}

<h1>Reportes por grado</h1>

<table>
    <thead>

        <tr>
            <th>Grado</th><th>Alumnos</th>
            <th class="badge-P">Presentes</th>
            <th class="badge-T">Tardanzas</th>
            <th class="badge-F">Faltas</th>
        </tr>

    </thead>

    <tbody>

        {% for fila in resumen %}

        <tr>
            <td>{{ fila.grado }} de secundaria</td>
            <td>{{ fila.alumnos }}</td>
            <td class="verde">{{ fila.presentes }}</td>
            <td class="amarillo">{{ fila.tardanzas }}</td>
            <td class="rojo">{{ fila.faltas }}</td>
        </tr>

        {% endfor %}

    </tbody>
    
</table>

{% endblock %}